*{
	/* Universal reset: */
	margin:0;
	padding:0;
}

header,footer,
article,section,
hgroup,nav,
figure{
	/* Giving a display value to the HTML5 rendered elements: */
	display:block;
}
 
.tag1{
	color: whitesmoke;
	text-shadow:0 5px 5px black;
    font-family: serif;
}

.tag2{
	color: aliceblue;
	font-family: 'Courier New', Courier, monospace;
	font-size: 18px;
}
body{
	/* Setting the default text color, size, page background and a font stack: */
	font-size:0.825em;
	color:#213E4A;
	background-image: url('../images/silver.jpg');
	font-family:serif;
	/* background-image: url(../images/aircooled.png); */
}

/* Hyperlink Styles: */

a, a:visited {
	align: center;
	border: 3px solid black;
	color:black;
	text-decoration:none;
	outline:none;
}

a:hover{
	font-weight: bolder;
}

a img{
	border:none;
}

/* Headings: */

h1,h2,h3{
	font-family:"Myriad Pro","Helvetica Neue",Helvetica,Arial,Sans-Serif;
	text-shadow:0 1px 1px white;
}

h1{
	/* The logo text */
	font-size:3.5em;
	padding:0.5em 0 0;
	text-transform:uppercase;
}

h3{
	/* The slogan text */
	font-family:forte,"Myriad Pro","Helvetica Neue",Helvetica,Arial,Sans-Serif;
	font-size:2em;
	font-weight:normal;
	margin:0 0 1em;
}

h2{
	font-size:2.2em;
	font-weight:normal;
	letter-spacing:0.01em;
	text-transform:uppercase;
}
.go_up {
	float: right; 
	padding-right: 15px;  
}
p{
    margin: auto;
    padding-top: 22px;
    line-height:1.5em;
    font-size: 16px;
    padding-bottom:0.7em;
    color: 213E4A;
    text-shadow:0 1px 1px white;
}
.pbold{
	font-size:1.2em;
	font-weight:bold;
	letter-spacing:0.01em;
	text-transform:uppercase;
}





footer .line{
	margin:2em 0;
}

/* The clearfix hack to clear the floats: */

.clear:after{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

/* The navigation styling: */



nav, article, nav ul li a,figure{
	/* Applying CSS3 rounded corners: */
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
}

/* Article styles: */

#page{
	width:960px;
	margin:0 auto;
	position:relative;
}



article{
    text-align: justify;
	background-color:antiquewhite;
	margin:3em 5em  5em 5em;
	padding:20px;
    column-count: 3;
    column-gap: 45px;
    column-rule: 2px solid black ; 
	
}

figure{
	border:3px solid #142830;
	float:right;
	height:290px;
	margin: auto;
	overflow:hidden;
	width:210px;
	margin-bottom: 20px;
	
}



figure:hover{
	-moz-box-shadow:0 0 2px #4D7788;
	-webkit-box-shadow:0 0 2px #4D7788;
	box-shadow:0 0 2px #4D7788;
}

/* Footer styling: */

footer{
	margin-bottom:30px;
	text-align:center;
	font-size:0.825em;
}


footer p{
	margin-bottom:-2.5em;
	position:relative;
}

#footerimg{
    font-size: 35px;
    margin-top: 20px;
    margin-bottom: 20px;
	background-color: white;
}

footer img:hover{
	width: 52px;
	height: 52px;
}


.end{
	color:black;
	background-color:aliceblue;
	display:block;
	padding:2px 4px;
	z-index:100;
	position:relative;
	
}
footer a:visited{
	color:black;
	background-color:aliceblue;
	display:block;
	padding:2px 4px;
	z-index:100;
	position:relative;
}

footer a:hover{
	text-decoration:none;
	
}

footer a.by{
	float:left;

}

footer a.up{
	float:right;
}

@media only screen and (max-width: 959px) {
	.tag1 { font-size: 250%; text-align: center }
	.tag2 { text-align: center }
	figure{
		height:200px;
		width:180px;
	}
	article .artimg{
		width: 180px;
		height: 200px;;
	}
	#page{
		width:90%;
		margin:0 auto;
		position:relative;
	}
	nav{
		margin: 0;
		position: absolute;
		top:10em;
		align-content: center;
	}
}
@media only screen and (max-width: 767px) {
	
	header { text-align: center; }
	artcicle {
		float: none;
		width: 95%;                     /* 100 - (2 x 2.5) for padding */
	}
	#mobile_menu {
		top: 10.5em;
	}
	nav{
		margin: 0;
		position: absolute;
		top:3em;
		align-content: center;
	}
	#page{
		width:95%;
		margin:0 auto;
		position:relative;
	}
	article .artimg{
		width: 250px;
		height: 200px;;
	}
	figure{
		border:2px solid #142830;
		height:200px;
		margin-left:15px;
		width:250px;
	}
	article h2{
		font-size: 1.8em;
	}
	#nav_menu {
		display: none;
	}
	#mobile_menu {
		display: block;
		
	}
	
article{
    float: left;
	background-color:antiquewhite;
	margin:3em 5em  5em 5em;
	padding:20px;
    column-count: 1; 
}

}
@media only screen and (max-width: 479px) {
	body { font-size: 90%; }
	figure{
		align-content: center;
		border:2px solid #142830;
		float:left;
		height:150px;
		overflow:hidden;
		width:200px;
	}
	
	article .artimg{
		width: 200px;
		height: 150px;;
	}
	#button_up {
		width : 30px;
		height: 30px;
		float: right;  
	}
	article h2{
		font-size: 1.5em;
	}
	#mobile_menu {
		display: block;
		margin-top: 3em;
	}
	
article{
    float: left;
	background-color:antiquewhite;
	margin:3em 5em  5em 5em;
	padding:20px;
    column-count: 1; 
}
}