*{
	/* Universal reset: */
	margin:0;
	padding:0;
}
body{
    background-image: url(images)
}
header,footer,
article,section,
hgroup,nav,
figure{
	/* Giving a display value to the HTML5 rendered elements: */
	display:block;
}
 
.tag1{
	color: whitesmoke;
    font-family: 'Trocchi', serif;
	text-shadow:0 5px 5px black;
	margin-bottom: 15px;
}

.tag2{
	color: whitesmoke;
	font-family: 'Trocchi', serif;
    font-size: 20px;
    font-weight: 300;
    text-shadow:0 5px 5px black;
	margin-bottom: 85px;
}

#heartButton{
	font-size: 35px; color: black;
	margin-left: 5px;
}
#heartButton:hover{
	 color: red;
	
}
#commentButton{
	font-size: 35px; color: black;
	margin-left: 12px;
}
#commentButton:hover{
	color: red;
	
}
#heartButtonLink{
	font-size: 18px;
}
#commentButtonLink{
	font-size: 18px;
}

body{
	/* Setting the default text color, size, page background and a font stack: */
	font-size:0.90em;
	color:#213E4A;
	
	background-image: url('../images/silver.jpg');
	font-family: serif;
    
	/* background-image: url(../images/aircooled.png); */
}

/* Hyperlink Styles: */

a, a:visited {
	border-radius: 3.5em;
	color:black;
	text-decoration:none;
	outline:none;
}

a:hover{
	font-weight: bolder;
}

a img{
	border:none;
}

/* Headings: */

h1,h2,h3{
	font-family:serif;
	text-shadow:0 1px 1px white;
}

h1{
	/* The logo text */
	font-size:3.5em;
	padding:0.5em 0 0;
	text-transform:uppercase;
    font-family: inherit;
    font-weight: 300;
    
}

h3{
	/* The slogan text */
	font-family:forte,"Myriad Pro","Helvetica Neue",Helvetica,Arial,Sans-Serif;
	font-size:2em;
	font-weight:normal;
	margin:0 0 1em;

}

h2{
	font-size:2.2em;
	font-weight:normal;
	letter-spacing:0.01em;
	text-transform:uppercase;
    font-weight: bold;

}
.go_up {
	float: right;   
	width : 3px;
	height: 3px;
}
#button_up {
	width : 50px;
	height: 50px;
	float: right; 
}
#button_up:hover {
	color: blue;
}
p{
	line-height:1.5em;
	padding-bottom:1em;
}
.pbold{
	font-size:1.2em;
	font-weight:bold;
	letter-spacing:0.01em;
	text-transform:uppercase;
}

.line{
	/* The dividing line: */
	height:1px;
	background-color:white;
	border-bottom:1px solid white;
	margin:1em 0;
	overflow:hidden;
}

article .line{
	/* The dividing line inside of the article is darker: */
	background-color:#15242a;
	border-bottom-color:#204656;
	margin:1.3em 0;
}

footer .line{
	margin: 5em 0;
	color: #f0f0f0;
}

nav{
	padding:0 5px;
	position: absolute;
	right:0;
	top:12em;
}
#nav_menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: relative;
}


#nav_menu ul li a,
nav ul li a:visited {
    color:white;
    text-shadow: 
	float:left;
	font-size:1.50em;
	font-weight:bold;
	margin:5px 2px;
	padding:7px 10px 4px;
	text-transform:uppercase;
    font-family: serif;
    text-shadow: 0 1px 2px black;
}
#nav_menu a.current {
	color: floralwhite;
}
#nav_menu ul ul {
    display: none;
    position: absolute;
    top: 100%;
}
#nav_menu ul li {
	float: left;
}
#nav_menu ul li a:hover{
	text-decoration:white;
	text-shadow:0 4px 4px black;
}
#nav_menu ul ul li{
	float : none;
}

#nav_menu ul li:hover > ul{
	display: block;
	background-color:orange;
}

#nav_menu ul::after{
	content: "";
    clear: both;
    display: block;
}

#nav_menu, article, nav ul li a,figure{
	/* Applying CSS3 rounded corners: */
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	 border-radius:10px;
}

/* Article styles: */

#page{
	width:960px;	
	margin:0 auto;
	position:relative;
}

article{
	background-color:whitesmoke;
	margin:3em 0;
	padding:20px;
	text-shadow:0 2px 0 white;
}

article .artimg{
	float: right;
	width: 450px;
	height: 250px;
	margin-bottom: 15px;
	min-width: 150px;
	min-height: 200px;
	margin-left:15px;
}

figure{
	border:2px solid #142830;
	float:right;
	height:250px;
	overflow: hidden;
	margin-left:15px;
	overflow:hidden;
	width:450px;
}

figure:hover{
	-moz-box-shadow:0 0 2px #4D7788;
	-webkit-box-shadow:0 0 2px #4D7788;
	box-shadow:0 0 2px #4D7788;
}

/* Footer styling: */

footer{
	margin-bottom:30px;
	text-align:center;
	font-size:0.825em;
}

footer p{
	color: aliceblue;
	text-shadow:0 1px 1px black;
	margin-bottom:-5em;
	position:relative;

}
footer a,footer a:visited{
	color:black;
	background-color:aliceblue;
	display:block;
	padding:4px 4px;
	z-index:150;
	position:relative;
}

footer a:hover{
	text-decoration:none;
	background-color:#142830;
}
#mobile_menu {
	display: none;
}
@media only screen and (max-width: 959px) {
	.tag1 { font-size: 250%; text-align: center }
	.tag2 { text-align: center }
	figure{
		height:200px;
		width:250px;
	}
	article .artimg{
		width: 250px;
		height: 200px;;
	}
	#page{
		width:90%;
		margin:0 auto;
		position:relative;
	}
	nav{
		margin: 0;
		position: absolute;
		top:10em;
		align-content: center;
	}
}
@media only screen and (max-width: 767px) {
	
	header { text-align: center; }
	artcicle {
		float: none;
		width: 95%;                     /* 100 - (2 x 2.5) for padding */
	}
	#mobile_menu {
		top: 10.5em;
	}
	nav{
		margin: 0;
		position: absolute;
		top:3em;
		align-content: center;
	}
	#page{
		width:95%;
		margin:0 auto;
		position:relative;
	}
	article .artimg{
		width: 250px;
		height: 200px;;
	}
	figure{
		border:2px solid #142830;
		height:200px;
		margin-left:15px;
		width:250px;
	}
	article h2{
		font-size: 1.8em;
	}
	#nav_menu {
		display: none;
	}
	#mobile_menu {
		display: block;
		
	}
	

}
@media only screen and (max-width: 479px) {
	body { font-size: 90%; }
	figure{
		border:2px solid #142830;
		float:right;
		height:150px;
		margin-left:15px;
		overflow:hidden;
		width:200px;
	}
	
	article .artimg{
		width: 200px;
		height: 150px;;
	}
	#button_up {
		width : 30px;
		height: 30px;
		float: right;  
	}
	article h2{
		font-size: 1.5em;
	}
	#mobile_menu {
		display: block;
		margin-top: 2em;
	}
}