body 
{ 
    text-align: center; 
    padding: 150px; 
    background-color: lightgoldenrodyellow;
}
  h1
{ 
    font-size: 50px;
    font-family: serif;
}
  body 
{ 
    font: 20px Helvetica, sans-serif; 
    color: #333; 
    font-family: serif;

}
  article 
{ 
    display: block; 
    text-align: left;
    width: 650px;
    margin: 0 auto; 
}
  a 
{ 
    color: dodgerblue;
    text-decoration: none;
}
  a:hover 
{ 
    color: red; 
    text-decoration: none; 
}